<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="footer-title">About Me</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
            </div>
            <div class="col-lg-4">
                <h3 class="footer-title">Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3 class="footer-title">Follow Me</h3>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Designed by <span class="footer-designer">Yugal jakasaniya</span> &copy; 2024</p>
        </div>
    </div>
</footer>


