<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
        <!-- Brand Logo -->
        <a class="navbar-brand" href="#">
            <img src="https://files.oaiusercontent.com/file-BsYEw4UWtMb4KdZL4HBgtC?se=2025-01-12T03%3A10%3A59Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D2b9d1274-8157-4b0b-80cc-b17c8cdd93a4.webp&sig=jDPH38K8cfUo4/vbGG5Xn9GPlwyDYU7j5MfJM0B52t4%3D" alt="Logo" width="40" height="40" class="d-inline-block align-text-center rounded-circle">
            <span class="brand-name">MyPortfolio</span>
        </a>
        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home" routerLinkActive="activecolor">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="activecolor" >About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/services" routerLinkActive="activecolor">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/project" routerLinkActive="activecolor">Projects</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/contact" routerLinkActive="activecolor">Contact</a>
                </li>
                <!-- Resume Link -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/resume" routerLinkActive="activecolor">Resume</a>
                </li>
                <!-- Hire Me Button -->
                <li class="nav-item">
                    <a class="btn btn-danger nav-link px-3 ms-3 text-light" href="#hire-me">Hire Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
